<header> 
    <div class="container">
        <div class="row">
            <div class="col-3 center text-white bg-success p-2 rounded border border-white">
                <h3>Habit Tracker</h3></div>
            <div class="col-5"></div>
            <div class="col-4">
                <div class="d-flex justify-content-evenly">
                    <a href="/report"  class="removeUnderline mt-2 text-white">
                        <h3>Report</h3>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</header>

