<div class=" text-white p-3 m-0 rounded border border-white">
    <h2>Habit Tracker</h2>
</div>

<h1 class="center mt-4">LOGIN</h1>

<form action="/createUser" method="POST">
    <div class=" mt-5 w-50 center" style="margin-left: 25%;">
        <div><input class="p-2 m-2" type="text" name="userName" placeholder="Enter your name..."></div>
        <button class="w-75 login-btn" type="submit"><h3><i>Login</i></h3></button>
    </div>
</form>